.title-admin {
    font-family: 'Roboto';
    font-size: 18px;
    background: #fbfbfb;
    padding: 10px 20px;
}

.item-adim-edit {
    border-bottom: 1px solid #e6e1e1;
}

.item-adim-edit h4,
.item-adim-edit h5,
.item-adim-edit h6 {
    font-family: 'Questrial';
    font-size: 18px;
}

.item-header-landing {
    padding: 10px 5px;
}

.item-header-landing h5 {
    font-size: 15px;
    margin-bottom: 0;
}

.item-header-landing input,
.item-header-landing textarea  {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #bdbbbb;
    transition: all .5s ease-out;
    background: transparent;
}

.item-header-landing input:focus,
.item-header-landing textarea:focus {
    outline: none;
    border-color: green; 
}

.toggle-config h4 {
    margin-bottom: 0;
    padding: 10px;
    transition: all .5s ease-in;
}

.active-title-toggle {
    background: #f7f7f7;
}

.icon-open-tab {
    float: right;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.open-toggle {
    transition: all .5s ease-in;
    padding: 10px;
}

.btn-libert-save {
    background: #7e57c2;
    color: #fff;
    border: 0;
    padding: 3px 15px;
    border-radius: 15px;
    margin-top: 15px;
    transition: all .5s ease-in;
    cursor: pointer;
}

.btn-libert-save:hover {
    background: #333;
}

.cnt-pop-up-medios {
    width: 70%;
    left: calc(50% - 35%);
    text-align: left;
    background: #efefef;
    position: absolute;
}

.media {
    display: inline-block;
    width: 25%;
    padding: 5px 10px;
    vertical-align: middle;
    position: relative;
}

.hidden {
    display: none;
}

.footer-pop-up-medios label {
    background: #f90;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 0;
}

.btn-selected,
.acept-design {
    background: #7e57c2;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 15px;
    margin-left: 15px;
    color: #fff;
    cursor: pointer;
}

.btn-selected.close-medios {
    background: #808080;
}

.footer-pop-up-medios {
    border-top: 1px solid #d6d6d5;
    padding: 5px 0;
    text-align: right;
}

.icon-trash-media {
    position: absolute;
    right: 11px;
    background: rgba(255,255,255,.7);
    width: 25px;
    text-align: center;
    height: 25px;
    border-radius: 100%;
    padding: 4px;
    cursor: pointer;
}