<div class="pop-up-design" *ngIf="confirmDesign.open">
	<div class="overlay"></div>
	<div class="cnt-po-up-design">
		<p>{{confirmDesign.message}}</p>
		<form action="javaScript:void(0)" *ngIf="isTemplate">
			<input type="text" placeholder="Nombre de diseño" [(ngModel)]="designName" name="nameDesign">
			<input type="submit" value="publicar" (click)="confirmDesignName(true)">
		</form>

		<div *ngIf="!isTemplate">
			<p>{{confirmDesign.msgDesign}}</p>
			<button class="acept-design" (click)="confirmDesign.open = false">
				Aceptar
			</button>
		</div>
	</div>
</div>

<div class="pop-up-design" *ngIf="medios.open">
	<div class="overlay" (click)="medios.open = false"></div>
	<div class="cnt-po-up-design cnt-pop-up-medios ">
		<p>{{medios.message}}</p>
		<div class="medios">
			<div class="media" *ngFor="let media of medias; let i = index">
				<img [src]="media" alt="" (click)="imageSelected(i, media)"  [ngClass]="{'imagen-selected': i == mediaSelected}">
				<i class="far fa-trash-alt icon-trash-media" (click)="deleteMedia(media)"></i>
			</div>
		</div>
		<div class="footer-pop-up-medios">
			<input type="file" id="file" name="file" class="hidden" accept="image/*" (change)="nuevaImagen($event)">
			<label for="file">Nueva imagen</label>
			<button (click)="medios.open = false"  class="btn-selected close-medios">Cerrar</button>
			<button (click)="updateImgDesign(mediaByMedios)" *ngIf="showButonSelected" class="btn-selected">Seleccionar</button>
		</div>
	</div>
</div>

<div class="custom-btn" *ngIf="isTemplate">
	<button (click)="saveLanding(template)">
		Personalizar
	</button>
</div>

<div class="home" *ngIf="!isTemplate">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Arma tu landing</h1>
					<h6>Edita esta landing page a tu estilo</h6>
					<h5>{{nameDesign || designName}}</h5>
					<a [routerLink]="'/home/'" class="links libert-button">Landings</a>
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 panel-admin">
					<h2 class="title-admin">Crea tu pagina</h2>
					<div class="item-adim-edit"> 
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'global'}">Global <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'global'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'global'">
								<div class="item-header-landing">
									<h5>Logo</h5>
									<img [src]="template?.global?.logo" alt="" (click)="gallery(template?.global?.logo, 'logo')">
								</div>
								<div class="item-header-landing">
									<h5>Header</h5>
									<img [src]="template?.header?.background" alt="" (click)="gallery(template?.global?.logo, 'header background')">
								</div>
								<div class="item-header-landing">
									<h5>Url VIDEO</h5>
									<input type="text" [(ngModel)]="template.global.video" name="url" placeholder="Url VIDEO">
								</div>
								<div class="item-header-landing">
									<h5>Título</h5>
									<textarea [(ngModel)]="template.header.description.text" name="" id="" cols="30" rows="5"></textarea>
								</div>
								<div class="item-header-landing">
									<h5>Boton (LLamado a la acción)</h5>
									<input type="text" [(ngModel)]="template.global.button.text">
								</div>
								<div class="item-header-landing">
									<h5>Color Boton</h5>
									<input [(colorPicker)]="template.global.button.background" [style.background]="template?.global?.button?.background"/>
								</div>
							</div>
						</div>
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'section-steps'}">Seccion Pasos <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'section-steps'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'section-steps'">
								<div class="item-header-landing">
									<h5>Título</h5>
									<input type="text" [(ngModel)]="template.section.title">
								</div>
								<div class="item-header-landing">
									<h5>Pasos</h5>
									<div *ngFor="let paso of template?.section?.pasos ; let i = index">
										<div class="paso">
											<h4>Título {{i+1}}</h4>
											<input type="text" [(ngModel)]="paso.title" placeholder="">
											<h5>Descripción</h5>
											<input type="text" [(ngModel)]="paso.description" placeholder="">
										</div>
									</div>
								</div>
							</div> 
						</div>
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'section2'}">Seccion 2 <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'section2'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'section2'">
								<div class="item-header-landing">
									<h5>Imágen</h5>
									<img [src]="template?.prefooter?.imagen" alt="" (click)="gallery(template?.global?.logo, 'logo')">
								</div>
								<div class="item-header-landing">
									<h5>Texto</h5>
									<textarea [(ngModel)]="template.prefooter.text" name="" id="" cols="30" rows="5"></textarea>
								</div>
							</div> 
						</div>
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'formulario'}">Formulario suscriptor <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'formulario'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'formulario'">
								<div class="item-header-landing">
									<h5>Título</h5>
									<input [(ngModel)]="template?.form.title"/>
								</div>
								<div class="item-header-landing">
									<h5>Subtítulo</h5>
									<input [(ngModel)]="template?.form.subtitle"/>
								</div>
								<div class="item-header-landing">
									<h5>Pie de formulario</h5>
									<input [(ngModel)]="template?.form.footer"/>
								</div>
								<div class="item-header-landing">
									<h5>Color Boton</h5>
									<input [(colorPicker)]="template.form.button.background" [style.background]="template?.form?.button?.background"/>
									<h5>Color Texto</h5>
									<input [(colorPicker)]="template.form.button.colortext" [style.background]="template?.form?.button?.colortext"/>
								</div>
								<div class="item-header-landing">
									<h5>Texto</h5>
									<input [(ngModel)]="template?.form?.button.text"/>
								</div>
							</div> 
						</div>
					</div>
					<!-- <button class="btn-libert-save" (click)="saveLanding(template)">Guardar</button> -->
					<button class="btn-libert-save" (click)="uploadLandign(template)">Actualizar</button>
				</div>
				<div class="col-md-9">
					<div class="landing_2">
						<header [ngStyle]="{'background-image': 'url('+ template?.header?.background +')'}">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="logo">
											<img [src]="template?.global?.logo" alt="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<p [ngStyle]="{'color':template?.header?.description?.color }">{{template?.header?.description?.text}}</p>
									</div>
									<div class="col-md-6">
										<iframe width="100%" height="315" [src]="transform(template?.global?.video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button (click)="template.global.button.open = true" [ngStyle]="{'background-color': template?.global?.button?.background}" class="btn-landing_2">{{template.global.button.text}}</button>
									</div>
								</div>
							</div>
						</header>	

						<section>
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h2 class="title-section">{{template?.section?.title}}</h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4" *ngFor="let paso of template?.section?.pasos">
										<div class="paso">
											<i class="fas fa-pencil-alt"></i>
											<h4>{{paso.title}}</h4>
											<p>{{paso.description}}</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button (click)="template.global.button.open = true" [ngStyle]="{'background-color': template?.global?.button?.background}" class="btn-landing_2">{{template?.global?.button?.text}}</button>
									</div>
								</div>
							</div>
						</section>

						<section class="prefooter" [ngStyle]="{'background-color': template?.prefooter?.background}">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<img [src]="template.prefooter.imagen" alt="">
									</div>
									<div class="col-md-6">
										{{template.prefooter.text}}
									</div>
								</div>
								<div class="row">
									<button (click)="template.global.button.open = true" [ngStyle]="{'background-color': template?.global?.button?.background}" class="btn-landing_2">{{template?.global?.button?.text}}</button>
								</div>
							</div>
						</section>

						<footer>
							<div class="container">
								<div class="row">
									<div class="col-md-6">Copyright 2018 - RMB Millonarios Conscientes - All Rights Reserved</div>
								</div>
							</div>
						</footer>

						<div class="pop-up" *ngIf="template.global.button.open">
							<div class="overlay" (click)="template.global.button.open = false"></div>
							<div class="cnt-pop-up">
								<div class="header-pop-up">
									<div class="completo">50%</div>
									<h3>{{template?.form?.title}}</h3>
									<span>{{template?.form?.subtitle}}</span>
								</div>
								<form action="javaScript:void(0)">
									<input type="text" placeholder="Nombre">
									<input type="email" placeholder="Correo electronico">
									<input [ngStyle]="{'background': template?.form?.button.background,'color': template?.form?.button.colortext}" type="submit" value="{{template?.form?.button.text}}">
								</form>
								<div class="footer-pop-up">
									<span>{{template?.form?.footer}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="landing_2" *ngIf="isTemplate && isLoadTemplate">

	<header [ngStyle]="{'background-image': 'url('+ template?.header?.background +')'}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="logo">
						<img [src]="template?.global?.logo " alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p [ngStyle]="{'color':template?.header?.description?.color }">{{template?.header?.description?.text}}</p>
				</div>
				<div class="col-md-6">
					<iframe width="100%" height="315" [src]="transform(template.global.video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button (click)="template.global.button.open = true" [ngStyle]="{'background-color': template?.global?.button?.background}" class="btn-landing_2">{{template.global.button.text}}</button>
				</div>
			</div>
		</div>
	</header>	

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="title-section">{{template?.section?.title}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" *ngFor="let paso of template?.section?.pasos">
					<div class="paso">
						<i class="fas fa-pencil-alt"></i>
						<h4>{{paso.title}}</h4>
						<p>{{paso.description}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button (click)="template.global.button.open = true" [ngStyle]="{'background-color': template?.global?.button?.background}" class="btn-landing_2">{{template?.global?.button?.text}}</button>
				</div>
			</div>
		</div>
	</section>

	<section class="prefooter" [ngStyle]="{'background-color': template.prefooter.background}">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img [src]="template?.prefooter?.imagen" alt="">
				</div>
				<div class="col-md-6">
					{{template.prefooter.text}}
				</div>
			</div>
			<div class="row">
				<button (click)="template.global.button.open = true" [ngStyle]="{'background-color': template?.global?.button?.background}" class="btn-landing_2">{{template?.global?.button?.text}}</button>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">Copyright 2018 - RMB Millonarios Conscientes - All Rights Reserved</div>
			</div>
		</div>
	</footer>

	<div class="pop-up" *ngIf="template.global.button.open">
		<div class="overlay" (click)="template.global.button.open = false"></div>
		<div class="cnt-pop-up">
			<div class="header-pop-up">
				<div class="completo">50%</div>
				<h3>{{template?.form?.title}}</h3>
				<span>{{template?.form?.subtitle}}</span>
			</div>
			<form action="javaScript:void(0)">
				<input type="text" placeholder="Nombre">
				<input type="email" placeholder="Correo electronico">
				<input type="submit" [ngStyle]="{'background': template?.form?.button.background,'color': template?.form?.button.colortext}" value="{{template?.form?.button.text}}">
			</form>
			<div class="footer-pop-up">
				<span>{{template?.form?.footer}}</span>
			</div>
		</div>
	</div>
</div>
