.overlay {
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.container-pop-up {
	background: #FFF;
	width: 40%;
	padding: 20px;
	position: absolute;
	top: 50px;
	left: calc(50% - 20%);
	box-sizing: border-box;
	text-align: center;
}

button {
	background: #d6d6d6;
	color: #fff;
	margin-top: 10px;
	border: none;
	cursor: pointer;
	padding: 3px 15px;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.redirectLogin {
    background: #7e57c2;
    color: #fff;
    padding: 3px 15px;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    transition: all .5s ease-in;
}

.redirectLogin:hover {
	background: #333;
}