<div class="pop-up" *ngIf="statusPopUp.open">
	<div class="overlay"></div>
	<div class="container-pop-up">
		<h2>{{statusPopUp.title}}</h2>
		<p>{{message}}</p>
		<app-sign-up [userJomla]="statusPopUp.email" [hidden]="statusPopUp.redirectToLogin"></app-sign-up>
		<a href="http://libert-guru.com/tribu/index.php/component/users/?view=login&return=aW5kZXgucGhwP0l0ZW1pZD0zNTQ=&Itemid=101" *ngIf="statusPopUp.redirectToLogin" target="_blank" class="redirectLogin">Iniciar Sesión</a>
	</div>
</div>
