<div class="landing_1" *ngIf="design">
	<header class="header" [ngStyle]="{'background-image':'url('+ design?.header?.background +')'}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-bar">
						<img [src]="design?.global?.logo" class="logo" alt="logo landing">
						<span class="phone">{{design?.global?.phonenumber}}</span>
					</div>
					<h1>{{design?.header?.title?.text}}</h1>
					<a href="{{design?.header?.button?.linkButton}}" class="landing-button" [ngStyle]="{'background-color': design?.header?.button?.background}">{{design?.header?.button?.buttonText}}</a>
				</div>
			</div>
		</div>	
	</header>
	<section class="section-one">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="libert-cart">
						<img [src]="design?.section?.left?.imageleft" alt="">
						<div class="text-libert-cart">
							<h4 class="title-libert-cart">{{design?.section?.left?.title?.text}}</h4>
							<div class="separator-section-libert-cart">
								<span class="color-libert-cart" [ngStyle]="{'color': design?.section?.left?.description?.value1.color}">{{design?.section?.left?.description?.value1.value}}</span><span>{{design?.section?.left?.description?.value2.value}}</span>   
							</div>
							<div class="footer-libert-cart">
								<span class="title-footer-libert-cart">{{design?.section?.left?.footer?.title}}</span>
								<span>{{design?.section?.left?.footer?.content}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="libert-cart">
						<img [src]="design?.section?.right?.imageright" alt="">
						<div class="text-libert-cart">
							<h4 class="title-libert-cart">{{design?.section?.right?.title?.text}}</h4>
							<div class="separator-section-libert-cart">
								<span class="color-libert-cart" [ngStyle]="{'color': design?.section?.right?.description?.value1.color}">{{design?.section?.right?.description?.value1.value}}</span><span>{{design?.section?.right?.description?.value2.value}}</span>   
							</div>  
							<div class="footer-libert-cart">
								<span class="title-footer-libert-cart">{{design?.section?.right?.footer?.title}}</span>
								<span>{{design?.section?.right?.footer?.content}}</span> 
							</div>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-two">
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</section>
	<section class="section-three" [ngStyle]="{'background-image':'url(' + design?.section3?.background + ')'}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="text-pre-footer">{{design?.section3?.text}}</span>
					<a href="{{design?.section3?.button?.linkbutton}}" class="landing-button" [ngStyle]="{'background-color': design?.section3?.button?.background}">{{design?.section3?.button?.textbutton}}</a>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img [src]="design?.global?.logofooter" alt="" class="logo-footer">
				</div>
				<div class="col-md-6">
					<ul class="redes-footer">
						<li *ngIf="design?.global?.redes?.facebook != ''"><a href="{{design?.global?.redes?.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li *ngIf="design?.global?.redes?.twitter != ''"><a href="{{design?.global?.redes?.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li *ngIf="design?.global?.redes?.instagram != ''"><a href="{{design?.global?.redes?.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li *ngIf="design?.global?.redes?.youtube != ''"><a href="{{design?.global?.redes?.youtube}}" target="_blank"><i class="fab fa-youtube"></i></a></li>
						<li *ngIf="design?.global?.redes?.googleplus != ''"><a href="{{design?.global?.redes?.googleplus}}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>