<div class="landing_2">

	<header [ngStyle]="{'background-image': 'url('+ design?.header?.background +')'}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="logo">
						<img [src]="design?.global?.logo " alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p [ngStyle]="{'color':design?.header?.description?.color }">{{design?.header?.description?.text}}</p>
				</div>
				<div class="col-md-6">
					<iframe width="100%" height="315" [src]="transform(design.global.video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button (click)="design.global.button.open = true" [ngStyle]="{'background-color': design?.global?.button?.background}" class="btn-landing_2">{{design.global.button.text}}</button>
				</div>
			</div>
		</div>
	</header>	

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="title-section">{{design?.section?.title}}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" *ngFor="let paso of design?.section?.pasos">
					<div class="paso">
						<i class="fas fa-pencil-alt"></i>
						<h4>{{paso.title}}</h4>
						<p>{{paso.description}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button (click)="design.global.button.open = true" [ngStyle]="{'background-color': design?.global?.button?.background}" class="btn-landing_2">{{design?.global?.button?.text}}</button>
				</div>
			</div>
		</div>
	</section>

	<section class="prefooter" [ngStyle]="{'background-color': design.prefooter.background}">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img [src]="design?.prefooter?.imagen" alt="">
				</div>
				<div class="col-md-6">
					{{design.prefooter.text}}
				</div>
			</div>
			<div class="row">
				<button (click)="design.global.button.open = true" [ngStyle]="{'background-color': design?.global?.button?.background}" class="btn-landing_2">{{design?.global?.button?.text}}</button>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">Copyright 2018 - RMB Millonarios Conscientes - All Rights Reserved</div>
			</div>
		</div>
	</footer>

	<div class="pop-up" *ngIf="design.global.button.open">
		<div class="overlay" (click)="design.global.button.open = false"></div>
		<div class="cnt-pop-up">
			<div class="header-pop-up">
				<div class="completo">50%</div>
				<h3>{{design?.form?.title}}</h3>
				<span>{{design?.form?.subtitle}}</span>
			</div>
			<!-- <form action="javaScript:void(0)">
				<input type="text" placeholder="nombre">
				<input type="email" placeholder="Correo electronico">
				<input type="submit" value="Mi entrenamiento gratis">
			</form> -->
			<form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
				<!-- Nombre -->
				<input type="text" name="name" placeholder="Nombre"/>
				<!-- Campo email (requerido) -->
				<input type="text" name="email" placeholder="Correo electronico"/>
				<!-- Token de lista -->
				<!-- Obtenga el token en: https://app.getresponse.com/campaign_list.html -->
				<input type="hidden" name="campaign_token" value="6hDxu" />
				<!-- Botón de suscriptor -->
				<input type="submit" [ngStyle]="{'background': design?.form?.button.background,'color': design?.form?.button.colortext}" value="{{design?.form?.button.text}}"/>
			</form>
			<div class="footer-pop-up">
				<span>{{design?.form?.footer}}</span>
			</div>
		</div>
	</div>
</div>
