<div class="pop-up-design" *ngIf="confirmDesign.open">
	<div class="overlay"></div>
	<div class="cnt-po-up-design">
		<p>{{confirmDesign.message}}jkj</p>
		<form action="javaScript:void(0)" *ngIf="isTemplate">
			<input type="text" placeholder="Nombre de diseño" [(ngModel)]="designName" name="nameDesign">
			<input type="submit" value="publicar" (click)="confirmDesignName(true)">
		</form>

		<div *ngIf="!isTemplate">
			<p>{{confirmDesign.msgDesign}}</p>
			<button class="acept-design" (click)="confirmDesign.open = false">
				Aceptar
			</button>
		</div>
	</div>
</div>

<div class="pop-up-design" *ngIf="medios.open">
	<div class="overlay" (click)="medios.open = false"></div>
	<div class="cnt-po-up-design cnt-pop-up-medios ">
		<p>{{medios.message}}</p>
		<div class="medios">
			<div class="media" *ngFor="let media of medias; let i = index">
				<img [src]="media" alt="" (click)="imageSelected(i, media)"  [ngClass]="{'imagen-selected': i == mediaSelected}">
				<i class="far fa-trash-alt icon-trash-media" (click)="deleteMedia(media)"></i>
			</div>
		</div>
		<div class="footer-pop-up-medios">
			<input type="file" id="file" name="file" class="hidden" accept="image/*" (change)="nuevaImagen($event)">
			<label for="file">Nueva imagen</label>
			<button (click)="medios.open = false"  class="btn-selected close-medios">Cerrar</button>
			<button (click)="updateImgDesign(mediaByMedios)" *ngIf="showButonSelected" class="btn-selected">Seleccionar</button>
		</div>
	</div>
</div>

<div class="custom-btn" *ngIf="isTemplate">
	<button (click)="saveLanding(template)">
		Personalizar
	</button>
</div>

<div class="home" *ngIf="!isTemplate && isLoadTemplate">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Arma tu landing</h1>
					<h6>Edita esta landing page a tu estilo</h6>
					<h5>{{nameDesign || designName}}</h5>
					<a [routerLink]="'/home/'" class="links libert-button">Landings</a>
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 panel-admin">
					<h2 class="title-admin">Crea tu pagina</h2>
					<div class="item-adim-edit"> 
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'global'}">Global <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'global'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'global'">
								<div class="item-header-landing">
									<h5>Logo</h5>
									<img [src]="template?.global?.logo" alt="" (click)="gallery(template?.global?.logo, 'logo')">
								</div>
								<div class="item-header-landing">
									<h5>Logo footer</h5>
									<img [src]="template?.global?.logofooter" alt="" (click)="gallery(template?.global?.logo, 'logo footer')">
								</div>
								<div class="item-header-landing">
									<h5>numero telefono</h5>
									<input type="text" [(ngModel)]="template.global.phonenumber" name="phone" placeholder="Telefono">
								</div>
								<div class="item-header-landing">
									<h5>Redes Sociales</h5>
									<input type="text" [(ngModel)]="template.global.redes.facebook" name="facebook" placeholder="facebook">
									<input type="text" [(ngModel)]="template.global.redes.twitter" name="twitter" placeholder="twitter">
									<input type="text" [(ngModel)]="template.global.redes.instagram" name="instagram" placeholder="instagram">
									<input type="text" [(ngModel)]="template.global.redes.youtube" name="youtube" placeholder="youtube">
									<input type="text" [(ngModel)]="template.global.redes.googleplus" name="googleplus" placeholder="googleplus">
								</div>
							</div>
						</div>
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'header'}">Header <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'header'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'header'">
								<div class="item-header-landing">
									<h5>Background</h5>
									<img [src]="template?.header?.background" alt="" (click)="gallery(template?.global?.logo, 'header background')">
								</div>
								<div class="item-header-landing">
									<h5>Texto</h5>
									<input type="text" [(ngModel)]="template.header.title.text" name="text" placeholder="Texto">
								</div>
								<div class="item-header-landing">
									<h5>Texto Boton</h5>
									<input type="text" [(ngModel)]="template.header.button.buttonText" name="buttonText" placeholder="Texto button">
								</div>
								<div class="item-header-landing">
									<h5>Url Boton</h5>
									<input type="text" [(ngModel)]="template.header.button.linkButton" name="linkButton" placeholder="Texto button">
								</div>
								<div class="item-header-landing">
									<h5>Color Boton</h5>
									<input [(colorPicker)]="template.header.button.background" [style.background]="template?.header?.button?.background"/>
								</div>
							</div>
						</div>
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'section1'}">Seccion 1 <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'section1'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'section1'">
								<div class="item-header-landing">
									<h5>Seccion derecha</h5>
									<img [src]="template?.section?.left?.imageleft" alt="" (click)="gallery(template?.global?.logo, 'product1')">
									<h5>
										titulo
									</h5>
									<input type="text" [(ngModel)]="template.section.left.title.text" placeholder="titulo">
									<h5>
										subtitulo
									</h5>
									<input type="text" [(ngModel)]="template.section.left.description.value1.value" placeholder="subtitulo">
									<input [(colorPicker)]="template.section.left.description.value1.color" [style.background]="template.section.left.description.value1.color"/>
									<h5>
										subtitulo
									</h5>
									<input type="text" [(ngModel)]="template.section.left.description.value2.value" placeholder="subtitulo">
									
									<h5>
										titulo pequeño
									</h5>
									<input type="text" [(ngModel)]="template.section.left.footer.title" placeholder="titulo pequeño">
									<h5>
										descripcion
									</h5>
									<input type="text" [(ngModel)]="template.section.left.footer.content" placeholder="descripcion">
								</div>

								<div class="item-header-landing">
									<h5>Seccion izquierda</h5>
									<img [src]="template?.section?.right?.imageright" alt="" (click)="gallery(template?.global?.logo, 'product2')">
									<h5>
										titulo
									</h5>
									<input type="text" [(ngModel)]="template.section.right.title.text" placeholder="titulo">
									<h5>
										subtitulo
									</h5>
									<input type="text" [(ngModel)]="template.section.right.description.value1.value" placeholder="subtitulo">
									<input [(colorPicker)]="template.section.right.description.value1.color" [style.background]="template.section.right.description.value1.color"/>
									<h5>
										subtitulo
									</h5>
									<input type="text" [(ngModel)]="template.section.right.description.value2.value" placeholder="subtitulo">
									<h5>
										titulo pequeño
									</h5>
									<input type="text" [(ngModel)]="template.section.right.footer.title" placeholder="titulo pequeño">
									<h5>
										descripcion
									</h5>
									<input type="text" [(ngModel)]="template.section.right.footer.content" placeholder="descripcion">
								</div>

							</div>
						</div>
						<div class="toggle-config">
							<h4 [ngClass]="{'active-title-toggle': toggleActive == 'section3'}">Seccion 3 <i class="fas fa-plus icon-open-tab" (click)="toggleActive = 'section3'"></i></h4>
							<div class="open-toggle" *ngIf="toggleActive == 'section3'">
								<div class="item-header-landing">
									<h5>Seccion derecha</h5>
									<img [src]="template.section3.background" alt="" (click)="gallery(template?.global?.logo, 'background pre footer')">
								</div>

								<div class="item-header-landing">
									<h5>texto</h5>
									<input type="text" placeholder="texto" [(ngModel)]="template.section3.text">
								</div>

								<div class="item-header-landing">
									<h5>Boton</h5>
									<input type="text" [(ngModel)]="template.section3.button.textbutton" name="textbutton">
								</div>

								<div class="item-header-landing">
									<h5>Link boton</h5>
									<input type="text" [(ngModel)]="template.section3.button.linkbutton" name="linkButton">
								</div>

								<div class="item-header-landing">
									<h5>Color boton</h5>
									<input [(colorPicker)]="template.section3.button.background" [style.background]="template.section3.button.background"/>
								</div>

							</div>
						</div>
					</div>
					<!-- <button class="btn-libert-save" (click)="saveLanding(template)">Guardar</button> -->
					<button class="btn-libert-save" (click)="uploadLandign(template)">Actualizar</button>
				</div>
				<div class="col-md-9">
					<div class="landing_1">
						<header class="header" [ngStyle]="{'background-image':'url(' + template?.header?.background +')'}">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="top-bar">
											<img [src]="template?.global?.logo" class="logo" alt="logo landing">
											<span class="phone">{{template?.global?.phonenumber}}</span>
										</div>
										<h1>{{template?.header?.title?.text}}</h1>
										<a href="#!" class="landing-button" [ngStyle]="{'background-color': template?.header?.button?.background}">{{template?.header?.button?.buttonText}}</a>
									</div>
								</div>
							</div>	
						</header>
						<section class="section-one">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="libert-cart">
											<img [src]="template?.section?.left?.imageleft" alt="">
											<div class="text-libert-cart">
												<h4 class="title-libert-cart">{{template?.section?.left?.title?.text}}</h4>
												<div class="separator-section-libert-cart">
													<span class="color-libert-cart" [ngStyle]="{'color': template?.section?.left?.description?.value1.color}">{{template?.section?.left?.description?.value1.value}}</span><span>{{template?.section?.left?.description?.value2.value}}</span>  
												</div>
												<div class="footer-libert-cart">
													<span class="title-footer-libert-cart">{{template?.section?.left?.footer?.title}}</span>
													<span>{{template?.section?.left?.footer?.content}}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="libert-cart">
											<img [src]="template?.section?.right?.imageright" alt="">
											<div class="text-libert-cart">
												<h4 class="title-libert-cart">{{template?.section?.right?.title?.text}}</h4>
												<div class="separator-section-libert-cart">
													<span class="color-libert-cart" [ngStyle]="{'color': template?.section?.right?.description?.value1.color}">{{template?.section?.right?.description?.value1.value}}</span><span>{{template?.section?.right?.description?.value2.value}}</span>   
												</div>  
												<div class="footer-libert-cart">
													<span class="title-footer-libert-cart">{{template?.section?.right?.footer?.title}}</span>
													<span>{{template?.section?.right?.footer?.content}}</span> 
												</div>   
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="section-two">
							<div class="container">
								<div class="row">
									
								</div>
							</div>
						</section>
						<section class="section-three" [ngStyle]="{'background-image':'url(' + template?.section3?.background + ')'}">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<span class="text-pre-footer">{{template?.section3?.text}}</span>
										<a href="#!" class="landing-button" [ngStyle]="{'background-color': template?.section3?.button?.background}">{{template?.section3?.button?.textbutton}}</a>
									</div>
								</div>
							</div>
						</section>
						<footer class="footer">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<img [src]="template?.global?.logofooter" alt="" class="logo-footer">
									</div>
									<div class="col-md-6">
										<ul class="redes-footer">
											<li *ngIf="template?.global?.redes?.facebook != ''"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
											<li *ngIf="template?.global?.redes?.twitter != ''"><a href="#!"><i class="fab fa-twitter"></i></a></li>
											<li *ngIf="template?.global?.redes?.instagram != ''"><a href="#!"><i class="fab fa-instagram"></i></a></li>
											<li *ngIf="template?.global?.redes?.youtube != ''"><a href="#!"><i class="fab fa-youtube"></i></a></li>
											<li *ngIf="template?.global?.redes?.googleplus != ''"><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="landing_1" *ngIf="isTemplate">
	<header class="header" [ngStyle]="{'background-image':'url(' + template?.header?.background +')'}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-bar">
						<img [src]="template?.global?.logo" class="logo" alt="logo landing">
						<span class="phone">{{template?.global?.phonenumber}}</span>
					</div>
					<h1>{{template?.header?.title?.text}}</h1>
					<a href="#!" class="landing-button" [ngStyle]="{'background-color': template?.header?.button?.background}">{{template?.header?.button?.buttonText}}</a>
				</div>
			</div>
		</div>	
	</header>
	<section class="section-one">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="libert-cart">
						<img [src]="template?.section?.left?.imageleft" alt="">
						<div class="text-libert-cart">
							<h4 class="title-libert-cart">{{template?.section?.left?.title?.text}}</h4>
							<div class="separator-section-libert-cart">
								<span class="color-libert-cart" [ngStyle]="{'color': template?.section?.left?.description?.value1.color}">{{template?.section?.left?.description?.value1.value}}</span><span>{{template?.section?.left?.description?.value2.value}}</span>   
							</div>
							<div class="footer-libert-cart">
								<span class="title-footer-libert-cart">{{template?.section?.left?.footer?.title}}</span>
								<span>{{template?.section?.left?.footer?.content}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="libert-cart">
						<img [src]="template?.section?.right?.imageright" alt="">
						<div class="text-libert-cart">
							<h4 class="title-libert-cart">{{template?.section?.right?.title?.text}}</h4>
							<div class="separator-section-libert-cart">
								<span class="color-libert-cart" [ngStyle]="{'color': template?.section?.right?.description?.value1.color}">{{template?.section?.right?.description?.value1.value}}</span><span>{{template?.section?.right?.description?.value2.value}}</span>   
							</div>  
							<div class="footer-libert-cart">
								<span class="title-footer-libert-cart">{{template?.section?.right?.footer?.title}}</span>
								<span>{{template?.section?.right?.footer?.content}}</span> 
							</div>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-two">
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</section>
	<section class="section-three" [ngStyle]="{'background-image':'url(' + template?.section3?.background + ')'}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="text-pre-footer">{{template?.section3?.text}}</span>
					<a href="#!" class="landing-button" [ngStyle]="{'background-color': template?.section3?.button?.background}">{{template?.section3?.button?.textbutton}}</a>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img [src]="template?.global?.logofooter" alt="">
				</div>
				<div class="col-md-6">
					<ul class="redes-footer">
						<li *ngIf="template?.global?.redes?.facebook != ''"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
						<li *ngIf="template?.global?.redes?.twitter != ''"><a href="#!"><i class="fab fa-twitter"></i></a></li>
						<li *ngIf="template?.global?.redes?.instagram != ''"><a href="#!"><i class="fab fa-instagram"></i></a></li>
						<li *ngIf="template?.global?.redes?.youtube != ''"><a href="#!"><i class="fab fa-youtube"></i></a></li>
						<li *ngIf="template?.global?.redes?.googleplus != ''"><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>