form {
}

form input {
	display: block;
	margin: 10px auto 0;
	width: 80%;
	border-radius: 10px;
	border: 1px solid #d6d6d6;
	padding: 5px 15px;
	box-sizing: border-box;
	transition:  all .5s ease-in;
}

form input:focus {
	outline: none;
	border-color: #7f7f7f;
}

button {
	background: #333;
	color: #fff;
	border: none;
	margin-top: 10px;
	padding: 3px 15px;
	cursor: pointer;
}