<form action="">
	<input type="email" [(ngModel)]="obj.email" name="email" placeholder="email">
	<input type="text" [(ngModel)]="obj.name" name="name" placeholder="Nombre" required>
	<input type="text" [(ngModel)]="obj.nickname" name="nickname" placeholder="Nickname" required>
	<button (click)="signUp(obj)">Aceptar</button>
</form>
