/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */
@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto|Raleway|Source+Sans+Pro:300');

img {
	max-width: 100%;
}

.links {
	font-family: 'Raleway';
}

.title {
	background: #f5f5f5;
	margin-bottom: 40px;
	text-align: center;
	padding: 40px 0;
}

.libert-button {
	background: #333;
	color: #fff;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 13px;
	transition: all .5s ease-in;
}

.libert-button:hover {
	color: #333;
	background: #f5f5f5;
	border: 1px solid #333;
	text-decoration: none;
}
.custom-btn {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 10px;
}

.custom-btn button {
    background: #f90;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all .5s ease-in;
}

.custom-btn button:hover {
    background: #333;
}

.imagen-selected {
    border: 4px solid #a63ddc;
    padding: 6px;
}

/* Landing 1 */
.landing_1 header {
	min-height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.landing_1 header h1 {
	/* position: absolute; */
	color: #fff;
	text-align: center;
	top: calc(50% - 24px);
	width: 100%;
	font-size: 45px;
	margin-bottom: 0;
	font-family: 'Source Sans Pro';
	margin: 70px 0 20px;
}

.landing_1 header .landing-button,
.landing_1 .section-three .landing-button {
	background: #00c702;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    min-width: 100px;
    max-width: 200px;
    text-decoration: none;
    transition: all .5s ease-in;
}

.landing_1 header .landing-button:hover,
.landing_1 .section-three .landing-button:hover {
	opacity: .8;
}

.landing_1 header .top-bar {
    padding: 30px 0;
}

.landing_1 header .phone {
    color: #fff;
    float: right;
    margin-top: 5px;
}

.landing_1 .logo,
.landing_1 .logo-footer {
    max-width: 145px;
    width: 100%;
}

.landing_1 .section-one {
	padding: 40px 0;
}

.landing_1 .section-one .libert-cart {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 15px 30px 0px;
    font-family: 'Source Sans Pro';
}

.landing_1 .section-one .text-libert-cart .title-libert-cart {
	text-align: center;
    margin-bottom: 0;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    color: #313131;
    padding: 10px 0;
    font-size: 34px;
}

.landing_1 .section-one .separator-section-libert-cart {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #cccccc85;
    border-bottom: 1px solid #cccccc85;
    width: 90%;
    margin: 0 auto;
    font-size: 28px;
    font-family: 'Source Sans Pro';
}


.landing_1 .section-one .separator-section-libert-cart span {
	margin: 0 3px;
}

.landing_1 .section-one .separator-section-libert-cart  .color-libert-cart {
	color: #00c702;
}

.landing_1 .section-one .footer-libert-cart {
	padding: 10px 20px;
}

.landing_1 .section-one .footer-libert-cart .title-footer-libert-cart {
	display: block;
	font-weight: bold;
}

.landing_1 .bg-product {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.landing_1 .section-three {
    padding: 100px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing_1 .section-three .text-pre-footer {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 40px;
    font-family: 'Source Sans Pro';
}

.landing_1  footer.footer {
    padding: 15px 0;
}

.landing_1  footer .redes-footer {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

.landing_1  footer .redes-footer li {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 4px;
}

.landing_1  footer .redes-footer li a {
    color: #000;
}


/* Landing 2 */

.landing_2 .btn-landing_2 {
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 25px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    transition: all .5s ease-in;
}

.landing_2 .btn-landing_2:hover {
    opacity: .8;
}

.landing_2 header {
    position: relative;
}

.landing_2 header:after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100px;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); 
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
z-index: 0;
}

.landing_2 .logo {
    max-width: 200px;
    width: 100%;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.landing_2 section {
    padding: 70px 0;
}

.landing_2 .title-section,
.landing_2 .header-pop-up h3{
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 7px;
    position: relative;
}

.landing_2 .title-section:after,
.landing_2 .header-pop-up h3:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 7.5%);
    background: #ccc;
    width: 15%;
    height: 1px
}

.landing_2 .paso {
    text-align: center;
    margin-bottom: 25px;
    min-height: 240px;
    background: #f9f9f9;
    padding: 20px 15px;
    position: relative;
}

.landing_2 .paso i {
    height: 50px;
    width: 50px;
    border: 1px solid #bbb7b7;
    border-radius: 50%;
    font-size: 25px;
    line-height: 46px;
    margin-bottom: 10px;
    color: #b7b3b3;
}

.landing_2 .paso h4 {
    font-size: 18px;
}

.landing_2 .pop-up .overlay {
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.landing_2 .pop-up .cnt-pop-up {
    background: #fff;
    position: fixed;
    width: 60%;
    top: 25px;
    left: calc(50% - 30%);
    z-index: 4;
    box-sizing: border-box;
    padding: 15px;
}

.landing_2 .pop-up .header-pop-up,
.landing_2 .pop-up .footer-pop-up {
    text-align: center;
    padding: 5px 25px;
}

.landing_2 .pop-up .footer-pop-up  {
    font-size: 16px;
}

.landing_2 .pop-up .completo {
    border: 1px solid #ccc;
    height: 25px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.landing_2 .pop-up .completo:after {
    content: '';
    background: #f90;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.landing_2 .header-pop-up h3{
    margin-top: 20px;
}

.landing_2 .pop-up form input {
    display: block;
    margin:0 auto 7px;
    width: 50%;

}

.landing_2 .pop-up form input:last-child {
    margin-bottom: 0;
}

/* Pop up guardar Landigns */
.pop-up-design .overlay {
    background: #333a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.cnt-po-up-design {
    position: fixed;
    top: 50px;
    z-index: 2;
    background: #fff;
    width: 40%;
    left: calc(50% - 20%);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.cnt-po-up-design input[type="submit"] {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.cnt-po-up-design input[type="text"] {
    border: 1px solid #e4e4e4;
    padding: 4px 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.cnt-po-up-design input[type="text"]:focus {
    outline: none;
}


