<div class="pop-up-confirm" *ngIf="confirm.open">
	<div class="overlay"></div>
	<div class="cnt-pop-up-confirm">
		<p>{{confirm.message}}</p>
		<div class="buttons-pop-up-confirm">
			<button (click)="confirmButton(true)">Aceptar</button>
			<button class="cancel" (click)="confirmButton(false)">Cancelar</button>
		</div>
	</div>
</div>
<div class="home">
	<div class="title">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Plantillas personalizables</h1>
					<h6>Tenemos una variedad de plantillas para que perfecciones a tus gusto.</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="my-design" *ngIf="designs"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">Mis diseños</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" *ngFor="let design of designs ; let i = index">
					<div class="design" [ngClass]="{'design-default': design.status}">
						<!-- <iframe src="http://localhost:4200/design/juan" scrolling="no" frameborder="0" width="100%" height="250"></iframe> -->
						<div class="landings" [ngStyle]="{'background-image': 'url(assets/img/screenshot/'+ landings[design.template-1].screenshot +')'}">					
							<h5 class="links name-landing">{{design.name}}</h5>
							<div class="tools-design">
								<a [routerLink]="'/landings/design/' + design.alias + '/' + design.iddesign"><i class="fas fa-pencil-alt icon-edit-design"></i></a>
								<i class="far fa-trash-alt icon-trash-design" (click)="deleteDesign(design)"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">Plantillas</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" *ngFor="let landing of landings">
					<a [routerLink]="'/landings/template/' + landing.alias + '/' + landing.id"> 
						<div class="landings" [ngStyle]="{'background-image': 'url(assets/img/screenshot/'+ landing.screenshot +')'}">
							<i class="far fa-eye icon-see"></i>
							<h5 class="links name-landing">{{landing.name}}</h5>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- PopUp -->
<app-pop-up [statusPopUp]="popUp"></app-pop-up>
