.landings {
	min-height: 250px;
	background-position: top center;
	background-size: cover;
	position: relative;
}

.design {
	position: relative;
}

.landings h5, 
.design h5 {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 0;
}

.name-landing,
.title-my-design {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 30px 0 10px;
	font-size: 13px;
	text-transform: uppercase;
}

.icon-see {
    color: #f5f5f5;
    font-size: 22px;
    position: absolute;
    left: calc(50% - 27.375px);
    top: calc(50% - 26px);
    background: #0000008c;
    padding: 15px;
    border-radius: 50%;
    transition: all .5s ease-in;
    opacity: 0;
    visibility: hidden;
}

.landings:hover .icon-see {
	opacity: 1;
	visibility: visible;	
}

.design-default {
    border: 3px solid #7e57c2;
}

.tools-design {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.icon-trash-design,
.icon-edit-design {
    float: right;
    background: #333a;
    color: #FFF;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.icon-edit-design {
	float: none;
}

.pop-up-confirm .overlay {
    position: fixed;
    background: #333a;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transition: all .5s ease-in;
}

.cnt-pop-up-confirm {
    position: fixed;
    top: 50px;
    background: #FFF;
    width: 40%;
    z-index: 2;
    left: calc(50% - 20%);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.buttons-pop-up-confirm button{
	border: none;
}

.buttons-pop-up-confirm  .cancel {
	margin-left: 10px;
}

@media screen and (max-width: 768px) {
	.landings {
		margin-bottom: 15px;
		min-height: 350px;
	}
}